<section class="hero is-primary is-fullheight">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title pacifico larger-text">
        my dashboard
      </h1>
      <div class="columns">
        <!-- <div class="column is-half is-offset-one-quarter"> -->
        <div class="column">
          <p class="field control">
            <input class="input is-midium" type="text" placeholder="Nome">
          </p>
          <p class="field control">
              <input class="input is-midium" type="email" placeholder="E-mail">
            </p>
  
            <p class="field control">
              <input class="input is-midium" type="text" placeholder="Telefone">
            </p>
  
            <p class="field control">
              <input class="input is-midium" type="text" placeholder="CPF/CNPJ">
            </p>
        </div>

        <div class="column">

          <p class="field control">
            <input class="input is-midium" type="password" placeholder="Senha">
          </p>

          <p class="field control">
            <input class="input is-midium" type="password" placeholder="Confirmar senha">
          </p>

          <br>

          <p>
            <a class="button is-primary is-inverted is-outlined is-midium is-fullwidth">Cadastrar</a>
            <br/>
            <a class="button is-link is-fullwidth lato">Voltar para tela de login</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
