<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<app-headbar></app-headbar>
<section class="section">
  <div class="container">
    <div class="heading animated fadeIn">
      <h1 class="title">Dashboard</h1>
    </div>
    <br>
    <nav class="level">
      <div class="select level-left">
        <select id="active-panel" (change)="valueChange($event)" onchange="console.log(this.options[this.selectedIndex].text); console.log('onchange on select panel dispair'); return false;">
          <option *ngFor="let dashboard of dashboards" [ngValue]="dashboard" [value]="dashboard.id">
            {{ dashboard.name }}
          </option>
        </select>
      </div>
      <div class="has-text-centered level-right">
        <p id="pphName" class="title lato" style="height: 30px;"></p>
      </div>
    </nav>
    <hr>
  </div>
</section>
<div class="embed-responsive embed-responsive-16by9">
  <app-dashboard-selected [selectedId]="idDashboard"></app-dashboard-selected>
</div>
<app-footer></app-footer>
