.pacifico{
    font-family: "Pacifico";
    }
    .lato{
      font-family: "Lato";
    }
    .midium-text{
      font-size: 1.5em;
    }
    .larger-text{
      font-size: 3em;
    }
    .fullscreen{
      width: 50%;
    }


