<section class="hero is-primary is-fullheight">
  <div class="hero-body">
    <div class="container has-text-centered">
      
        <img class="img-responsive" src="/assets/images/logon.png" width="220" height="28">
        <br>

      <div class="columns">
        <div class="column is-half is-offset-one-quarter">

          <form >
            <p class="field control has-icons-left">
              <input class="input is-midium" type="email" [(ngModel)]="email" />
            </p>
            <p class="field control has-icons-left">
              <input class="input is-midium" type="password" placeholder="Nova senha" [(ngModel)]="password" />
            </p>
            <p>
              <button (click)="submit()" class="button is-primary is-inverted is-outlined is-midium is-fullwidth">Confirmar</button>
              <br>
            </p>

          </form>
        </div>
      </div>
    </div>
  </div>
</section>
